# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Alex\homework_5_map_implementation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
